* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  text-align: center;
}

.rgb-value {
  font-size: 1.5rem;
}

button {
  background-color: darkslategray;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #101c1c;
}

.color-box {
  border: 2px solid black;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  margin: auto;
}
